.homepage {
    min-height: calc(100vh - 5rem);
    margin: 2.5rem;
    background-image:
        linear-gradient(rgba(36, 42, 46, 0.8), rgba(36, 42, 46, 0.8)),
        url("../bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 2.5rem 5rem;
}

.homepage section {
    display: flex;
    flex-direction: column;
    min-height: 85%;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
}

.homepage h1 {
    font-size: clamp(3.2rem, 6vw, 4.5rem);
    line-height: 1.2;
}

.homepage h2 {
    width: min(90%, 75rem);
    font-size: clamp(1.6rem, 2.5vw, 1.9rem);
    color: var(--color-light--1);
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    .homepage {
        margin: 1rem;
        padding: 1.6rem;
        min-height: calc(100vh - 2rem);
    }

    .homepage section {
        min-height: calc(100vh - 18rem);
        gap: 1.6rem;
    }

    .homepage h2 {
        width: 100%;
        margin-bottom: 1rem;
    }
}
